<div class = "mapBox">  
    <img id="homePageImg"
        src="/images/WDWMKpage/50th.png"
        alt="Walt Disney World Magic Kingdom 50th Anniversary"/>
</div>
<form class="loginSubmit popOut" action="submit">
  <input id="username" autofocus placeholder="username" type="text" />
  <input id="password" placeholder="password" type="text" />
  <input type="submit" value="Login">
</form>
<form class="newUserSubmit" action="submit">
  <input id="newUsername"  placeholder="username" type="text" />
  <input id="newPassword" placeholder="password" type="text" />
  <input type="submit" value="Register">
</form>
<script src="/js/homepage.js"> </script>