<img id="homePageImg"
  src="/images/WDWMKpage/50th.png"
  alt="Walt Disney World Magic Kingdom 50th Anniversary"
/>
<!-- Loop over each object in the projects array -->
{{#each users as |user|}}
  <div class="row align-center mb-5">
    <div class="col-md-6">
      <h2> {{user.name}}</h2>
    </div>
    <div class="col-md-6">
      <h3><a href="mailto:{{user.email}}">{{user.email}}</a></h3>
    </div>
  </div>
{{/each}}
<form class="loginSubmit popOut" action="submit">
  <input id="username" autofocus placeholder="username" type="text" />
  <input id="password" placeholder="password" type="text" />
  <input type="submit" value="Login">
</form>
<a href="">Register</a>
<script src="/js/login.js"> </script>