{{!-- needs IDs #email-login, #name-signup, #email-signup, #password-signup #password-login 
    needs classes <input type='submit' class='login-form'> & <input type='submit' class='signup-form'>--}}
{{!-- copied from 14/min project --}}
{{user}}
  <div class="container">
                <div class="row">
                    <div class="col-md-9   offset-md-2">
                        <h1 class="text-center">What park would you like to enter?</h1>
                       
                        
                    </div>
                  
                </div>
                
            </div>
            
        
    </div>
    <div class = "mapBox">
        <img src="../public/images/2021WDWMK.png" alt="Walt Disney World Magic Kingdom 2021 Map" usemap="#lands">
        <map name="lands">
            <!--TODO: add in the links to the handlebars once they've been created-->
            <area class="fantasyland" shape="poly" coords="462,144,561,138,722,167,684,308,564,308,459,278,414,227,462,144" alt="Fantasyland">
            <area class="tomorrowland" shape="poly" coords="530,405,633,300,734,312,729,549,687,629,495,549,570,378,530,405" alt="Tomorrowland">
            <area  class="librarysquare" shape="poly" coords="260,338,360,413,258,455,209,404269,333,260,338" alt="Liberty Square">
            <area class="adventureland"  shape="poly" coords="78,458,242,458,314,525,200,585,50,603,68,465,78,458" alt="Adventureland">
            <area class="frontierand" shape="poly" coords="0,252,60,216,107,320,72,429,0,459,0,252" alt="Frontierland">
        </map>
</div>
<script src="./js/login.js"></script>