<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
    </head>
    <body>
        <img src="../public/images/2021WDWMK.png" alt="Walt Disney World Magic Kingdom 2021 Map" usemap="#lands">
        <map name="lands">
            <!--TODO: add in the links to the handlebars once they've been created-->
            <area shape="poly" coords="0,252,60,216,107,320,72,429,0,459,0,252" href="" alt="Frontierland">
            <area shape="poly" coords="78,458,242,458,314,525,200,585,50,603,68,465,78,458" href="" alt="Adventureland">
            <area shape="poly" coords="462,144,561,138,722,167,684,308,564,308,459,278,414,227,462,144" href="" alt="Fantasyland">
            <area shape="poly" coords="530,405,633,300,734,312,729,549,687,629,495,549,570,378,530,405" href="" alt="Tomorrowland">
        </map>
        <script src="" async defer></script>
    </body>
</html>