<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
</head>
<body>
    <header class= " w3-container w3-top w3-padding-16">
        <span>Magical Wait Times</span>
    </header>
   <section>
    <div>
        <h4>Description</h4>
        <p>This will be the description of the ride</p>
    </div>
   </section>
   <section>
    <div>
        <h4>Rides that are available</h4>
            <ul>
                <li>Tomorrowland</li>
                <li>Adventureland</li>
                <li>Fantasyland</li>
                <li>Frontierland</li>
                <li></li>
            </ul>
        
    </div>
   </section>
</body>
</html>