<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="login.css">
</head>
<body>
    <div class="box">
        <form>
            <span class="text-center">Magical Wait Times</span>
            <p class = labelthis>Log In</p>
        <div class="input">
            <input type="text" required=""/>
            <label>Username</label>		
        </div>
        <div class="input">		
            <input type="mail" required=""/>
            <label>Password</label>
        </div>
            <button type="button" class="btn">Login</button>
    </form>	
    <br>
    <br>
    <br>
    <form>
        <p class = "labelthis">Please Sign up</p>
        <div class="input">
            <input type="text" required=""/>
            <label>Username</label>		
        </div>
        <div class="input">		
            <input type="mail" required=""/>
            <label>Password</label>
        </div>
            <button type="button" class="btn">Register</button>
    </form>
    </div>
</body>
</html>