<!DOCTYPE html>
<html>

<head>
    
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Magical Wait Times</title>
    
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Satisfy&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="openP.css">
</head>

<body>
   
    <div class= "w3-center">
        <div class="header-dark ">
            <h3 class = "headerTex w3-center">Magical Wait Times</h3>
            <section class="w3-center">
                <div class="container w3-center">
                    
                       
                </div>
            </section>
         </div>
        
            
            <div class="container">
                <div class="row">
                    <div class="col-md-9   offset-md-2">
                        <h1 class="text-center">What park would you like to enter?</h1>
                       
                        
                    </div>
                  
                </div>
                
            </div>
            
        
    </div>
    <div class = "mapBox">
    <section class = " w3-container w3-center">
        <p>Map here</p>
        

    
    </section>
</div>
</body>

</html>