<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Magical Wait Times</title>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Courgette&family=Satisfy&family=Zen+Old+Mincho&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="reviews.css">
</head>
<body>
  <div class= "w3-center">
    <div class="header-dark ">
        <h3 class = "headerTex w3-center">Magical Wait Times</h3>
        <div class="nav">
            <a href="ridesInfo.html">ridesInfo</a>
            <a href="openParks.html">park map</a>
          </div>
     </div>
    <br>
    <br>
    
      
      
      
      <section class=" reviewBox w3-container w3-border">
        <h5>Splash Mountain</h5>
        <p>Posted By: <a>ThisUser</a></p>
        <p>This is a bad ride I would like it to be better.</p>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star"></span>
        <span class="fa fa-star"></span>
      </section>
      <br>
      <section class="reviewBox w3-container w3-border">
        <h5>Splash Mountain</h5>
        <p>Posted By: <a>ThisUser</a></p>
        <p>This is a bad ride I would like it to be better.</p>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star"></span>
        <span class="fa fa-star"></span>
      </section>
      <br>
      <section class="reviewBox w3-container w3-border">
        <h5>Splash Mountain</h5>
        <p>Posted By: <a>ThisUser</a></p>
        <p>This is a bad ride I would like it to be better.</p>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star"></span>
        <span class="fa fa-star"></span>
      </section>
</body>
</html>