<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Courgette&family=Satisfy&family=Zen+Old+Mincho&display=swap" rel="stylesheet">
<link rel="stylesheet" href = "/public/css/rides.css">
</head>
<body>
    <div class= "w3-center">
        <div class="header-dark ">
            <h3 class = "headerTex w3-center">Magical Wait Times</h3>
            <div class="nav">
                <a href="openParks.html">Park Map </a>
                <a href="reviews.html"> Reviews </a>
              </div>
         </div>
    <br>
    <br>
   <section>
    <div class = "w3-container">
        <h4></h4>
        
    </div>
   </section>

   <section class = "w3-container">
    <div>
        <h4>Welcome To </h4>
            <ul>
                <li><a href= "#"></a></li>
                
                <li><a href = "#"></a></li>
                
                <li><a href = "#"></a></li>
                
                <li><a href = "#"></a></li>
                
                <li><a href = "#"></a></li>
            </ul>
        
    </div>
   </section>
</body>
</html>