*{
    background-color:darkcyan
}
.headerTex{
    background-color:darkblue;
    
}

.header-dark {
    background: darkblue;
    background-size:cover;
    padding-bottom:20px;
    
    
}
  .header-dark h3 {
      text-align: center;
      color:white;
  }

  .mapBox{
    
        background-color: blue;
        width: 50%;
        border:  solid darkblue;
        padding: 45%;
        margin: auto;
        color:white;
        border-width:15px;  
        border-style:ridge;
    
  }