<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Untitled</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Bitter:400,700">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="openP.css">
</head>

<body>
   
    <div class= "w3-center">
        <div class="header-dark ">
            <section class="navbar navbar-dark navbar-expand-md navigation-clean-search w3-center">
                <div class="container w3-center">
                    <h3 class = "w3-center">Magical Wait Times</h3>
                       
                </div>
            </div>
            </section>
            </section>
            <div class="container">
                <div class="row">
                    <div class="col-md-9   offset-md-2">
                        <h1 class="text-center">The map will go here.</h1>
                       
                        
                    </div>
                  
                </div>
                
            </div>
            <section class = "w3-container w3-center">
                <p>Map here</p>
            </section>
        
    </div>
    
</body>

</html>