<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Satisfy">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="one.css">
</head>
<body>
    <header class= " w3-container w3-top w3-padding-16 w3-border w3-center">
        <span>Magical Wait Times</span>
    </header>
 
    <br>
    <br>
    
      
      
      
      <section class="w3-container w3-border">
        <h5>Splash Mountain</h5>
        <p>User data</p>
        <p>This is a bad ride I would like it to be better.</p>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star"></span>
        <span class="fa fa-star"></span>
      </section>
      <br>
      <section class="w3-container w3-border">
        <h5>Splash Mountain</h5>
        <p>User data</p>
        <p>This is a bad ride I would like it to be better.</p>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star"></span>
        <span class="fa fa-star"></span>
      </section>
      <br>
      <section class="w3-container w3-border">
        <h5>Splash Mountain</h5>
        <p>User data</p>
        <p>This is a bad ride I would like it to be better.</p>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star"></span>
        <span class="fa fa-star"></span>
      </section>
</body>
</html>